*{
    margin: 0;
    padding: 0; 
    font-size: 16;
    font-weight: normal;
}

h1{
    font-size : 20px;
    color : rgba(38, 0, 128, 1);
    font-weight : bold;
}

.container{
    max-width: 1070px;
    margin: 0 auto;
}
.header, .footer{
    background-color: rgba(255, 113, 67, 0.27);
    padding: 38px 0 48px ;
}
.header_flex, .footer_flex, .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_li{
    display: inline-block;
    margin: 49px;
}
.nav_li:not(:first-of-type){
    margin: 49px;  
}
.nav_link{
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
/* identical to box height */
    letter-spacing: -0.468947px;
    color: #696871;
    text-decoration: none;
}
.nav_link:hover{
    color:black;
    transition: 300ms;
}
.button{
    cursor: pointer;
    width: 212.39px;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF; 
}
.button_orange{
    background: #FF7143;
}
.button_orange:hover{
    background: #be4922;
    transition: 500ms;
}
.about_title{
    max-width: 467.24px;
    height: 231px;
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    margin-bottom: 30px;
}
.about_text{
    max-width: 464.21px;
    height: 90px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    margin-bottom: 50px;
}
.about{
margin: 105px auto 85px;
}
.button_violet{
    background: #5454D4;
    margin-right: 35px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;

color: #FFFFFF;
}
.button_violet:hover{
    background: #4242c0;
    transition: 500ms;
}
.button_transperent{
    background: none;
    border: 1px solid #5454D4;
    border-radius: 10px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #5454D4;
}
.button_transperent:hover{
    background: none;
    transition: 500ms;
}
.footer{
    padding: 53px 0;
}
